.contactSection {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  padding: 4rem 3rem;
  gap: 3rem;
}

.container {
    display:flex;
    flex-direction: column;
}

.contactLeft {
  max-width: 45%;
  font-size: 1rem;
  color: #0a0a0a;
  line-height: 1.6;
}

.contactLeft h3 {
  font-family: "Cormorant Garamond", serif;
  font-size: 2rem;
  margin-bottom: 0.5rem;
  font-weight: 500;
}

.contactForm {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 45%;
}

.contactForm input,
.contactForm textarea {
  width: 100%;
  padding: 0.9rem 1rem;
  border: 1px solid #c8b7a9;
  border-radius: 6px;
  background: #ffffff;
  font-size: 1rem;
  outline: none;
}

.contactForm textarea {
  height: 130px;
  resize: none;
}

.submitBtn {
  width: fit-content;
  padding: 0.7rem 2rem;
  background: #E88952;
  border: none;
  border-radius: 25px;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}

.error {
  color: red;
  font-size: 0.9rem;
}

.success {
  color: green;
  font-size: 0.9rem;
}

@media (max-width: 768px) {
  .contactSection {
    flex-direction: column;
    padding: 3rem 1.5rem;
  }

  .contactLeft,
  .contactForm {
    width: 100%;
  }
}
