body {
  background-color: rgba(253, 208, 193, 0.5);
  position: relative;
  min-height: 100vh;
}

body::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: url("/assets/BG_noise.png") repeat;
  opacity: 0.2;
  z-index: 10; 
  mix-blend-mode: overlay; 
  pointer-events: none;

}
